<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
   {% extends "base.html" %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>

</head>

<body>
    {% block content %}
          <div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
     <div class="friends">
         <h4>Мои друзья</h4>
         {% for f in fr1 %}
                    <a href="/user/{{ f.friend2.id }}"> {{ f.friend2.user.username }} </a><br>
         {% endfor %}
         {% for f in fr2 %}
                    <a href="/user/{{ f.friend1.id }}"> {{ f.friend1.user.username }} </a><br>
         {% endfor %}
         <hr>
     </div>
     <div class="subscriptions">
         <h4>Мои подписки</h4>
         {% for s in subs %}
            <a href="/blog/{{ s.blog.id }}"> {{ s.blog.name }} </a><br>
         {% endfor %}
         <hr>
     </div>
     <div class="banlist">
         <h4>Черный список</h4>
         {% for b in ban %}
            <a href="/user/{{ b.banned.id }}"> {{ b.banned.name }} </a><br>
         {% endfor %}
         <hr>
     </div>
     <div class="community">
         <h4>Мои сообщества</h4>
         {% for c in comm %}
            <a href="/community/{{ c.community.id }}"> {{ c.community.name }} </a><br>
         {% endfor %}
     </div>
 </div>
        <div class="span10">
           <form action="/blog/{{ blog.id }}/new/" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
               <div class="form-group">
                   <label for="inputName">Название</label>
                   <input type="text" class="form-control" id="inputName" name="name" placeholder="Введите названия поста">
               </div>
               <div class="form-group">
                   <label for="inputAnno">Краткое описание</label>
                   <textarea class="form-control" cols="45" rows="10" id="inputAnno" name="annotation" placeholder="Введите краткое описание"></textarea>
               </div>
               <div class="form-group">
                   <label for="inputText">Содержание</label>
                   <textarea class="form-control" cols="100" id="inputText" name="text" placeholder="Введите ваш пост"></textarea>
               </div>
               <div class="form-group">
                   <label for="inputImg">Файл</label>
                   <input type="file" id="inputImg" name="image"/><br><br>
               </div>
               <div class="form-group">
                   <input type="submit" value="Отправить"/>
               </div>
           </form>
        </div>
</div>
</div>
    {% endblock content %}
</body>
</html>