<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
   {% extends "base.html" %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Профиль</title>

</head>
<style type="text/css">

</style>

<body>

    {% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
     <div class="friends">
         <h4>Мои друзья</h4>
         {% for f in fr1 %}
                    <a href="/user/{{ f.friend2.id }}"> {{ f.friend2.user.username }} </a><br>
         {% endfor %}
         {% for f in fr2 %}
                    <a href="/user/{{ f.friend1.id }}"> {{ f.friend1.user.username }} </a><br>
         {% endfor %}
         <hr>
     </div>
     <div class="subscriptions">
         <h4>Мои подписки</h4>
         {% for b in blogs %}
            <a href="/blog/{{ b.blog.id }}"> {{ b.blog.name }} </a><br>
         {% endfor %}
         <hr>
     </div>
     <div class="banlist">
         <h4>Черный список</h4>
         {% for b in ban %}
            <a href="/user/{{ b.banned.id }}"> {{ b.banned.name }} </a><br>
         {% endfor %}
         <hr>
     </div>
     <div class="community">
         <h4>Мои сообщества</h4>
         {% for c in comm %}
            <a href="/community/{{ c.community.id }}"> {{ c.community.name }} </a><br>
         {% endfor %}
     </div>
 </div>
        <div class="span10">
     <div class="info">
          <img src="/media/{{ profile.avatar }}"  width="50%" height="50%"/><br>
         Меня зовут {{ profile.user.first_name }} {{ profile.user.last_name }},<br>
         но я не буду против, если меня называть {{ profile.user.username }}.<br>
         Родилcя я {{ profile.date }} и название моего пола начинается на букву {{ profile.gender }}.<br>
         Еще немножко информации про меня: {{ profile.about_me }}<br><br>
     </div>
     <hr>
     <div class="blogs">
             {% for b in blogs %}
                    <h4><a href="/blog/{{ b.blog.id }}"> {{ b.blog.name }} </a></h4>
                    Автор: <a href="/user/{{ b.blog.user.id }}"> {{ b.blog.user.user.username }} </a><br><br>
                    Описание: {{ b.blog.info }}<br><br>
                    <hr>
         {% endfor %}
         </div>
 </div>


</div>
</div>
    {% endblock content %}
</body>
</html>
