{% if user.is_authenticated %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">myblog</a>
    <ul class="nav">
      <li><a href="/">Главная</a></li>
      <li><a href="/user/my">Профиль</a></li>
      <li><a href="/user/edit">Редактировать</a></li>
      <li><a href="/blog/my"> Мои блоги </a></li>
      <li><a href="/mail"> Личные сообщения </a></li>
      <li><a href="/logout"> Выход </a></li>
    </ul>
    <form class="navbar-form pull-left">
      <input type="text" class="span2">
      <button type="submit" class="btn">Поиск</button>
    </form>
  </div>
</div>
{% else %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">myblog</a>
    <ul class="nav">
     <!-- <li><a href="#" data-toggle="modal" data-target="#basicModal">Войти</a></li>-->
      <!--<li><a id="enter" href="/login">Войти</a></li>-->
      <li><a href="#" class="trigger">Войти</a>
      <li><a href="#" class="trigger2">Регистрация</a></li>
    </ul>
    <form class="navbar-form pull-left">
      <input type="text" class="span2">
      <button type="submit" class="btn">Поиск</button>
    </form>
  </div>
</div>
{% endif %}